# Environment
v2x_env/
env

# Cache
__pycache__/

# Datasets
data/nura_test_data/
data/


# Misc
papers/
*.png
.env
shubham/.env
shubham/traffic_dataset/
shubham/animations/
shubham/.ipynb_checkpoints/
